<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../static/js/user/user.js"></script>
    <script src="../static/js/jq/jquery.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>
                <input type="text" id="mobile"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" id="password"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" onclick="but()"/>
            </td>
        </tr>
    </table>

</body>
</html>